*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    overflow-x: hidden;
}


h1{
    color: #3D3D3D;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56.016px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.common_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}

nav{


    position: fixed;
    z-index: 1000;
    top: 0;

    width: 100vw;
    height: 12vh;


    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    
    padding: 0% 12% 0% 12%;
    

}

#Nav_links{
    width: 50%;
    height: 100%;
}

ul{
    width: 100%;
    height: 100%;
}

li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
}

li a:hover{
    
    height: 60%;
    color: #004690;
    border-bottom: 2px solid #004690;
}


a{  


    text-decoration: none;
    color: #3D3D3D;
    font-family: Libre Franklin;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
#Page_Location_Indicator{

    
    width: 100%;
    height: 5vh;
    margin: 7% 14% 0% 14%;
}

.PLI_TEXT{
    font-size: 14px;
    font-weight: 500;
    color: #004690;

    font-family: Libre Franklin;

}
#PLI_SERVICES{
    color: #3f3f3f;
}

#HeroText{

    width: 100%;
    height: 10  0vh;
    padding: 5% 14% 5% 14%;



}
#HeroText h1{
    color: #F4911C;
}

#HT_SPAN{
    color: #3D3D3D;
}
.p-12{
    padding: 0% 14% 0% 14%;
}
.h-50{
    height: 50vh;
}
.Text_Content{

    margin-top: 2%;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: start;

    flex-wrap: wrap;


    color: #666;
    text-align: justify;
    font-family: Libre Franklin;
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
    
}
.Text_Content_row{

    width: 49%;
    height: fit-content;

    display: flex;
    align-items: start;
    justify-content: start;

}


#Text_Content div{


    width: 100%;
    height: 50vh;
}



.banar{

    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: #0078FB;
    padding: 58.14px 94.2px 76.94px 73px;
}
.contaner{

    width: 1120px;
    height: 247.61px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    border: 1px solid #fff;

}
.Baner_Text{

    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Baner_Text h3{

    color: #fff;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.Baner_Text p{

    width: 70%;
    color: #fff;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}
.bg-blue{

    background-color: #F5FAFF;
}


footer{

    width: 100%;
    height: 111vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#footer_baner{

    width: 100%;
    height: 555px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("./images/footer-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
#footer_baner h1{

    color: #3D3D3D;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}
#footer_baner p{

    color: #666;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
#footer_baner button{

    width: 200px;
    height: 50px;

    border-radius: 2.5px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(102deg, #F4911C 0%, #FFB457 100%);

    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    border: none;
    outline: none;

    margin: 5% 0% 0% 0%;

}

#links{
    
    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
    border-bottom: 1px solid #E5E5E5;
}

#links ul{




    height: fit-content;

    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    justify-content: space-evenly;


}


#links ul li{


    height: fit-content;

    color: #3D3D3D;
    font-family: Libre Franklin;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */

}

#coppy_right{

    display: flex;
    width: 100%;
    height: 10%;

    margin-top: 2%;
    margin-left: 5%;


    color: #3D3D3D;
    font-family: Libre Franklin;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}